html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    display: flex;
    background-color: #90E0EF;
    padding-bottom: 75px;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    background-color: #CAF0F8;
}

header {
    font-size: 1.5rem;
    margin-left: 10px;
}

img {
    border: 2px solid black;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
}

.list {
    margin: 0 10px;
    padding: 10px 0;
}

.list dt {
    padding: 10px 0;
    font-weight: bold;
}

.list dd {
    padding-bottom: 15px;
}

.list dd:last-of-type {
    margin-right: 60px;
}